body{
  background-color: #000033;
}

h1 {
  color: white;
}

article {
  color: white;
}

a {
  color: white;
}

p {
  margin-left: 25%;
}



#top {
  height: 325px;

  background-color: white;

}

#footer {
  height: 200px;
}

#pic {


border: 3px solid #000033;
border-radius: 10px;
background-color: ;

margin-left: -5%;
margin-top: 3%;

position: absolute;

}

#name {
  width: 200px;
  border: 3px solid #000033;
  border-radius: 10px;
  margin-left: -5%;
  margin-top: 20%;

  position: absolute;
}

#bod1 {
  background-color: #000033;
}
