body{
  background-color: #000033;
}

h1 {
  color: white;
}

h2 {
    color: white;
}

h3 {
    color: white;
}

article {
  color: white;
  margin-left: 5%;
  font-size: 1.5em;
}

a {
  color: white;
}

p {
  margin-left: 25%;
}

li {
  display: inline-block;
  margin-left: 5%;
}

#top {
  height: 325px;

  background-color: white;

}

#footer {
  height: 200px;
}



#name {

color: #000033;

  margin-left: 10em;
  margin-top: 2em;
  -webkit-animation-name: namez;
    -webkit-animation-duration: 8s;
    animation-name: namez;
    animation-duration: 8s;
}
    @-webkit-keyframes namez {
    0%   {color: #000033;}
    25%  {color: #000099;}
    50%  {color: #e6e6ff;}
    100% {color: #000099;}
}

    @keyframes namez {
    0%   {color: #000033;}
    25%  {color: #000099;}
    50%  {color: #e6e6ff;}
    100% {color: #000099;}
}


#bod1 {
  background-color: #000033;
}

.bacon {
  font-size: 50px;
}
