canvas {
	position: absolute;
	top: 0%;
	left: 0%;
	background-color: white;
	z-index: -1;
	border-width: 2px;
	border-style: solid;
	border-color: black;

}

h4{
	margin-left: 5%;

	color: white;
}

h1 {
		margin-left: 43%;
		position: absolute;
		margin-top: -1em;
		font-family: cursive;
-webkit-animation-duration: 6s; /* Chrome, Safari, Opera */
 animation-name: head;
 animation-duration: 6s;
 animation-iteration-count: infinite;
}

@keyframes head {
    0%   {color: red;}
    25%  {color: purple;}
    50%  {color: blue;}
    100% {color: green;}
}

@-webkit-keyframes head {
    0%   {color: red;}
    25%  {color: purple;}
    50%  {color: blue;}
    100% {color: green;}
}

}
input {
	margin-top: 400px;
	margin-left: 40px;
}

body {
	background-color: black;
}

.sqr {
	width: 50px;
	height: 40px;
	border: 2px solid white;
	border-radius: 5px;
	margin-left: 5px;
	margin-top: 10%;

}

#group{
	border: 3px solid black;
	margin-top: 10%;
}
