
 @font-face { font-family: blox; src: url('Blox2.ttf'); }
 @font-face { font-family: pixel; src: url('Pixel.ttf'); }
  @font-face { font-family: stone; src: url('stone_era_pixels.ttf'); }
h2 {
  color: red;

}

h3 {
font-family: stone !important;
}


li {

  margin-left: 15%;
  font-family: pixel !important;
}

p {
  font-family: pixel !important;
}

#titlez {
  font-family: blox !important;
}

#tit {
  position: absolute;
  font-size: 20px;
  margin-left: -5%;
  margin-top: 28%;
  font-weight: 5px;
  font-family: monospace;
}

#can {
  position: absolute;
  z-index: -1;
  margin-left: -65%;
  width: 120%;
  height: 110%;
}

@media only screen and (min-width: 1500px) {
  #can {
    position: absolute;
    z-index: -1;
    margin-left: -65%;
    width: 1200px !important;
    height: 800px !important;
    margin-top: -5% !important;

  }
}


.dis {
  color: red;
}

.dise {
  color: red;
  font-size: 100px !important;
  font-family: monospace;
}

.blink {
  text-shadow: 0px 0px 20px #ff0000 !important;
}

.color {
    color: red;
    font-size: 54px !important;
   -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
   -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
   animation-name: example;
   animation-duration: 8s;
   animation-iteration-count: infinite;
}

@keyframes example {
    0%   {color: purple;}
    20%  {color: yellow;}
    40%  {color: blue;}
    60% {color: green;}
    80% {color: cyan;}
    100% {color: magenta;}
}

.topz {
  width: 100%;

}

.top {
  float: left;

}

.bottomz {
  width: 100%;
}

#cake1 {
  margin-left: 3% !important;
}

#cake2 {
  position: absolute;
  margin-left: 97% !important;
}

#cake3 {
margin-left: 3% !important;
}

#cake4 {
  position: absolute;
  margin-left: 97% !important;
}

.lang {
  width: 120px;

}

.java {
  width: 180px;
}
.ruby {
  width: 110px;
}


.tools {
  width: 150px;
}


/* the css for the text box */

@media screen and (max-width: 800px) {
  #box {
  border: 2px solid white;
  width: 900px;
  border-radius: 10px;
  margin-left: -7% !important;
  }

}




.party {
    margin-left: 35%;
    font-size: 24px !important;
    margin-top: 5% !important;
}

#box {
border: 2px solid white;
width: 1000px;
border-radius: 10px;
margin-left: -7% !important;
}

#topbox {
height: 160px;
border: 2px solid white;

}

#bottombox {
height: 350px;
border: 2px solid white;

}

#par {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 24px;
  margin-top: 5% !important;
}

#par2 {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 24px;
  margin-top: 5% !important;
}

.rowz {
  float: left;
  width: 296.5px;
  border: 1px solid black;
  height: 50px;
}

.javaz {
  width: 120px;
}

.gamez {
  width: 250px;
  margin-top: 5% !important;
}

.rubyz {
  width: 105px;
  margin-top: -3% !important;
}
