
 @font-face { font-family: blox; src: url('Blox2.ttf'); }
 @font-face { font-family: pixel; src: url('Pixel.ttf'); }
  @font-face { font-family: stone; src: url('stone_era_pixels.ttf'); }
h2 {
  color: red;

}

h3 {
font-family: stone !important;
}

ul {
  display: inline;
  list-style-type: none;

}
li {
  float: left;
  margin-left: 15%;
  font-family: pixel !important;
}

p {
  font-family: pixel !important;
}

#titlez {
  font-family: blox !important;
}

#tit {
  position: absolute;
  font-size: 20px;
  margin-left: -5%;
  margin-top: 28%;
  font-weight: 5px;
  font-family: monospace;
}

#can {
  position: absolute;;
  z-index: -1;
  margin-left: -65%;
  width: 120%;
  height: 110%;
}

.top4 {
  margin-left: -5em;
}

.dis {
  color: red;
}

.dise {
  color: red;
  font-size: 100px !important;
  font-family: monospace;
}

.blink {
  text-shadow: 0px 0px 20px #ff0000 !important;
}

.red {
  color: red !important;
}

.green {
  color: green !important;
}

.lang {
  width: 120px;

}

.java {
  width: 180px;
}
.ruby {
  width: 110px;
}


.tools {
  width: 150px;
}


/* the css for the text box */



.party {
    margin-left: 35%;
    font-size: 24px !important;
    margin-top: 5% !important;
}

#box {
border: 2px solid white;
width: 1200px;
border-radius: 10px;
margin-left: -7% !important;
}

#topbox {
height: 160px;
border: 2px solid white;

}

#bottombox {
height: 270px;
border: 2px solid white;

}

#par {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 24px;
  margin-top: 5% !important;
}

#par2 {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 24px;
  margin-top: 5% !important;
}

.rowz {
  float: left;
  width: 396.5px;
  border: 1px solid black;
  height: 50px;
}

.javaz {
  width: 120px;
}

.gamez {
  width: 250px;
  margin-top: 5% !important;
}

.rubyz {
  width: 105px;
  margin-top: -3% !important;
}
