
 @font-face { font-family: blox; src: url('Blox2.ttf'); }
 @font-face { font-family: pixel; src: url('Pixel.ttf'); }
  @font-face { font-family: stone; src: url('stone_era_pixels.ttf'); }
h2 {
  color: red;

}

h3 {
font-family: stone !important;
}

ul {
  display: inline;
  list-style-type: none;

}
li {
  float: left;
  margin-left: 15%;
  font-family: pixel !important;
}

p {
  font-family: pixel !important;
}

#titlez {
  font-family: blox !important;
}

#tit {
  position: absolute;
  font-size: 20px;
  margin-left: -5%;
  margin-top: 28%;
  font-weight: 5px;
  font-family: monospace;
}

#can {
  position: absolute;;
  z-index: -1;
  margin-left: -65%;
  width: 120%;
  height: 110%;
}

.top4 {
  margin-left: -5em;
}

.dis {
  color: red;
}

.dise {
  color: red;
  font-size: 100px !important;
  font-family: monospace;
}

.blink {
  text-shadow: 0px 0px 20px #ff0000 !important;
}

.red {
  color: red !important;
}

.green {
  color: green !important;
}

.lang {
  width: 150px;

}

.tools {
  width: 150px;
}
